@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
html , body {
  
  overflow-x: hidden !important
}
.card-sm {
  box-shadow: 0 0 3px gray ;
}
.card {
  box-shadow: 0 0 3px gray ;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
